# Ignore node_modules
node_modules/

# Ignore .next folder
.next/

# Ignore package-lock.json
package-lock.json

# Ignore environment-specific configuration files
*.env

# Ignore Next.js local environment file
.env.local

# Ignore logs and build artifacts
*.log
/build

# Ignore IDE-specific files
.vscode/
.idea/
.DS_Store
