.container {
  display: flex;
  background-color: rgba(70, 70, 70, 0.75);
  margin: auto;
  width: auto;
  height: 100vh;
  /* border-radius: 15px; */
  padding: 30px;
  padding-left: 20px;
  padding-right: 40px;
  padding-bottom: 40px;
  line-height: 2;
  border: none;
  font-size: 10pt;
  font-weight: 400;
  color: rgba(231, 231, 231, 0.742);
  overflow-y: auto;
}

.title {
  color: #edff7c;
  margin-top: 40px;
  margin-right: 5%;
  margin-left: 50%;
  position: absolute;
  top: 0;
}

.devHighlight {
  color: #f6ff8e;
}

.yearHL {
  font-size: larger;
}
.toggButt {
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  position: fixed;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: #edff7c;
  color: rgba(84, 84, 84, 0.717);
  height: 70px;
  width: 10%;
  padding: 20px;
  border-radius: 22px;
  margin-right: auto;
  margin-left: 35vw;
  margin-bottom: 10px;
  font-size: 10pt;
  border: none;
  font-weight: 400;
  line-height: 1.5;
}
.press {
  transition: transform 0.3s ease;
}

.press:hover {
  transform: translateY(-5px);
  background-color: rgba(81, 81, 81, 0.467);
  color: white;
}

@media (max-width: 490px) {
  .container {
    margin: 0;
    width: 100vw;
    margin-top: 20px;
    border-radius: 0%;
    padding: 10px;
    font-size: 8pt;
    overflow-y: scroll;
  }

  .title {
    margin: 20px auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .toggButt {
    position: relative;
    margin-left: 10px;
    margin-top: 20px;
    width: 80px;
    height: 60px;
    padding: 20px;
    font-size: 8pt;
  }

  .press:hover {
    background-color: rgba(81, 81, 81, 0.467);
  }
}
