.container {
  display: flex;
  background-color: rgba(24, 24, 24, 0.6);
  margin: auto;
  width: auto;
  border-radius: 15px;
  padding: 15px;
  line-height: 2;
  border: none;
  font-size: 10pt;
  font-weight: 400;
  color: rgba(231, 231, 231, 0.742);
  overflow: visible;
}

.title {
  color: #f866c5;
  margin-top: 40px;
  margin-right: 5%;
  margin-left: 50%;
  position: absolute;
  top: 0;
}

.devHighlight {
  color: #f6ff8e;
}

.yearHL {
  font-size: larger;
}
.toggButt {
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  position: fixed;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(245, 49, 255, 0.34);
  color: white;
  height: 70px;
  width: 103px;
  padding: 30px;
  border-radius: 22px;
  margin-right: auto;
  margin-left: 63%;
  margin-top: 42%;
  margin-bottom: auto;
  font-size: 10pt;
  border: none;
  font-weight: 400;
  line-height: 1.5;
}
.press {
  transition: transform 0.3s ease;
}

.press:hover {
  transform: translateY(-5px);
  background-color: rgba(81, 81, 81, 0.467);
}

@media (max-width: 490px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size: 8pt;
  }

  .title {
    margin: 20px auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .toggButt {
    margin: 20px auto;
    margin-top: 30px;
    margin-bottom: auto;
    width: 80px;
    height: 60px;
    padding: 20px;
    font-size: 8pt;
  }

  .press:hover {
    background-color: rgba(81, 81, 81, 0.467);
  }
}
