.container {
  display: flex;
  color: white;
  background-color: rgba(24, 24, 24, 0.675);
  margin-top: 15%;
  margin-bottom: 15%;
  margin: auto;
  width: 25%;
  border-radius: 30px;
  padding: 15px;
  line-height: 2;
  border: none;
}

.title {
  color: #f866c5;
  margin-top: 40px;
  margin-right: 5%;
  margin-left: 50%;
  position: absolute; /* Added position absolute */
  top: 0;
}

.devHighlight {
  color: #f6ff8e;
}

.yearHL {
  font-size: larger;
}
