.message {
  text-align: center;
  color: white;
  padding: 50px;
  font-size: 18pt;
  font-weight: 400;
  opacity: 0;
  animation: dropIn 0.7s forwards;
}

@keyframes dropIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.container {
  align-items: center;
  display: flex;
  border-radius: 30px;
  background-color: #46895770;
  margin: auto;
  max-width: 38%;
}
.containerError {
  align-items: center;
  display: flex;
  border-radius: 30px;
  background-color: #ff463f70;
  margin: auto;
  max-width: 38%;
}
