.container {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: rgba(70, 70, 70, 0.3);
  border-radius: 20px;
  height: auto;
  width: auto;
  padding: 60px;
  border: none;
  margin: auto;
  /* margin-left: 10%; */
}

.label {
  color: white;
  justify-content: start;
  text-align: start;
  display: flex;
  margin-top: 20px;
}

.input {
  /* text-align: center; */
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 40px;
  border: none;
  color: rgb(127, 127, 127);
}
.text {
  /* text-align: center; */
  border-radius: 3px;
  margin-top: 10px;
  width: 300px;
  height: 88px;
  border: none;
  font-family: "Inclusive Sans", sans-serif;

  color: rgb(127, 127, 127);
}
.button {
  justify-content: center;
  font-size: 10pt;
  border-radius: 12px;
  border: none;
  height: 50px;
  margin-top: 25px;
  width: 80px;
  color: rgb(152, 152, 152);
  font-family: "Inclusive Sans", sans-serif;

  background-color: #edff7c;
}
.ready {
  justify-content: center;
  text-align: center;
  font-size: 10pt;
  border-radius: 12px;
  border: none;
  height: 50px;
  width: 80px;
  color: white;
  margin-top: 25px;
  background-color: #aefb6f90;
  transition: transform 0.3s ease;
}
.ready:hover {
  transform: translateY(-5px);
  background-color: rgba(255, 255, 255, 0.3);
}

.press {
  transition: transform 0.3s ease;
}

.press:hover {
  transform: translateY(-5px);
  background-color: rgba(255, 255, 255, 0.3);
}
.errorMessage {
  font-size: 10.5pt;
  font-weight: 600;
  color: #fb6fcafc;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 12px;
  background-color: rgba(255, 255, 255, 0.343);
  border-radius: 10px;
  padding-inline: 10px;
  display: inline-block;
}
@media (max-width: 490px) {
  .container {
    width: 100vw;
    padding: 20px;
    height: auto;
    margin: auto;
    margin-top: 20px;
  }

  .label {
    margin-top: 2%;
  }

  .input,
  .text {
    width: 240px;
    margin: 5px;
  }

  .button {
    margin-top: 20px;
    width: 100px;
  }

  .ready {
    margin-top: 20px;
    width: 100px;
    text-align: center;
  }

  .press:hover,
  .ready:hover {
    transform: translateY(-5px);
    background-color: rgba(255, 255, 255, 0.3);
  }

  .errorMessage {
    font-size: 9pt;
    margin-bottom: 15px;
    margin-top: 8px;
    padding: 8px;
  }
}
