.container {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgba(70, 70, 70, 0.5);
  border-radius: 20px;
  height: 520px;
  width: 500px;
  padding: 60px;
  border: none;
  margin: auto;
  margin-left: 5%;
}

.label {
  color: white;
  justify-content: center;
  text-align: center;
  display: flex;
  margin-top: 20px;
}

.input {
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 40px;
  border: none;
}
.text {
  border-radius: 3px;
  margin-top: 10px;
  width: 300px;
  height: 88px;
  border: none;
}
.button {
  justify-content: center;
  text-align: center;
  font-size: medium;
  border-radius: 12px;
  border: none;
  height: 38px;
  width: 68px;
  margin-left: 40%;
  color: white;
  background-color: rgb(249, 127, 127);
}
.ready {
  justify-content: center;
  text-align: center;
  font-size: medium;
  border-radius: 12px;
  border: none;
  height: 38px;
  width: 68px;
  margin-left: 40%;
  color: white;
  background-color: #78fb6f90;
}

.press {
  transition: transform 0.3s ease;
}

.press:hover {
  transform: translateY(-5px);
  background-color: rgba(255, 255, 255, 0.3);
}
.errorMessage {
  font-size: 9pt;
  color: rgb(249, 127, 127);
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
