.container {
  display: flex;
  color: white;
  background-color: rgba(24, 24, 24, 0.675);
  margin: auto;
  width: 35%;
  border-radius: 15px;
  padding: 15px;
  line-height: 2;
  border: none;
  font-size: 12pt;
  font-weight: 100;
  overflow: visible;
}

.buttonContainer {
  display: flex;
  margin-top: 200px;
}
