.card {
  margin: 15px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.867);
  color: rgb(58, 58, 58);
  border-radius: 15px;
  height: auto;
  width: 50%;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  text-decoration: none;
}
.cardBlack {
  margin: 15px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.603);
  color: rgb(255, 255, 255);
  font-weight: bolder;
  border-radius: 15px;
  height: auto;
  width: 50%;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  text-decoration: none;
}

.carousel {
  display: flex;
  overflow-x: scroll;
  min-height: 80%;
  width: 100%;
  margin: auto;
  align-items: center;
  text-align: center;
}
.items {
  line-height: 0.5;
}
@media (max-width: 490px) {
  .carousel {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    overflow-x: scroll;
  }

  .card {
    width: 85%;
    border-radius: 15px;
    height: auto;
    margin-top: 20px;
    font-size: xx-small;
  }
  .cardBlack {
    width: 85%;
    border-radius: 15px;
    height: auto;
    margin-top: 20px;
    font-size: xx-small;
  }
}
