.container {
  display: flex;
  align-items: center;
  height: 100vh;
}
.background {
  background-image: url("/public/wpTheme.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
