.container {
  display: flex;
  align-items: center;
  height: 100vh;
}
.background {
  background-image: url("/Users/pedro/Desktop/webpage/public/wpTheme.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
