.container {
  display: flex;
  margin-left: 50%;
  margin-bottom: 1%;
}
.press {
  transition: transform 0.3s ease;
  background-color: rgba(255, 255, 255, 0.3);
}
.press:hover {
  transform: translateY(-5px);
}
.style {
  border-radius: 30px;
  margin-left: 15px;
}
