.container {
  margin-bottom: 10%;
  margin-top: 10%;
}

.press {
  transition: transform 0.3s ease;
  background-color: rgba(255, 255, 255, 0.3);
}
.press:hover {
  transform: translateY(-5px);
}
.style {
  border-radius: 30px;
  margin-left: 15px;
}
.styleInsta {
  border-radius: 60px;
  margin-left: 15px;
}
