.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: rgba(70, 70, 70, 0.3);
  width: 400px;
  border-radius: 15px;
  margin-left: 90px;
  margin-top: 15%;
  margin-bottom: 15%;
  overflow-y: auto;
}
.titleContainer {
  text-align: center;
  margin-top: 20px;
  line-height: 0.8;
}

.link {
  display: flex;
  flex-direction: column;
  color: #f866c5;
  text-decoration: none;
  margin-bottom: 28px;
  margin-top: 20px;
  margin-left: 15%;
  line-height: 0.8;
  font-weight: 600;
  font-size: large;
  flex-grow: 1;
}
.press {
  transition: transform 0.3s ease;
}
.press:hover {
  transform: translateY(-5px);
}

.more {
  color: white;
}
.selected {
  color: #f6ff8eb5;
  font-size: 14pt;
}

.mainTitle {
  color: #f6ff8e;
  font-size: xx-large;
  font-weight: 600;
}
.title {
  color: rgba(255, 255, 255, 0.857);
  font-weight: 400;
  margin-bottom: 35px;
  line-height: 1.1;
}
