.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: rgba(70, 70, 70, 0.189);
  width: 28vw;
  height: auto;
  max-height: 95vh;
  border-radius: 15px;
  margin-left: 70px;
  overflow-y: hidden;
}
.titleContainer {
  text-align: center;
  margin-top: 20px;
  line-height: 0.8;
}

.link {
  display: flex;
  flex-direction: column;
  color: #f0f0f0bb;
  text-decoration: none;
  margin-bottom: 28px;
  margin-top: 20px;
  margin-left: 15%;
  line-height: 0.8;
  font-weight: 600;
  font-size: medium;
  flex-grow: 1;
}
.press {
  transition: transform 0.3s ease;
}
.press:hover {
  transform: translateY(-5px);
}

.more {
  color: white;
}
.selected {
  color: #f6ff8eb5;
  font-size: 14pt;
}

.mainTitle {
  color: #f6ff8e;
  font-size: xx-large;
  font-weight: 600;
}
.title {
  color: rgba(255, 255, 255, 0.857);
  font-weight: 400;
}
.subTitles {
  margin-top: -5px;
  color: rgba(255, 255, 255, 0.707);
  line-height: 1.2;
}
@media (max-width: 490px) {
  .container {
    width: 100%;
    margin: 0;
    margin-bottom: 8px;
    padding: 20px;
    border-radius: 0;
    align-items: center;
    background-color: rgba(70, 70, 70, 0.747);
  }

  .link {
    margin-left: 0;
    line-height: 0;
    margin-bottom: 10px;
    margin-top: 18px;
    font-size: medium;
  }
  .title {
    color: rgba(255, 255, 255, 0.857);
    font-weight: 400;
    margin-bottom: 12px;
    line-height: 0.7;
  }
  .titleContainer {
    text-align: center;
    margin-top: 2px;
    line-height: 0.3;
  }
  .subTitles {
    margin-top: 5px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.707);
    font-weight: 100;
  }
}
