.carousel {
  display: flex; /* Display children in a row */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent card wrapping to the next line */
  max-width: 50%;
  margin: auto;
}

.card {
  width: 90vw; /* Adjust styles for smaller screens */
  margin-right: 0;
  margin-left: 5%; /* Add some margin for spacing between cards */
  padding: 5px;
  background-color: rgba(24, 24, 24, 0.629);
  border-radius: 20px;
  width: 700px;
  height: 30%;
  flex-direction: column;
  align-items: center;
  /* margin: auto;
 

  transition: transform 0.3s ease;
  overflow-y: auto; */
}
.card:hover {
  transform: translateY(-5px);
}
.atag {
  width: 90vw; /* Adjust styles for smaller screens */
  margin-right: 0;
  margin-left: 5%; /* Add some margin for spacing between cards */
  padding: 5px;
  background-color: rgba(24, 24, 24, 0.629);
  border-radius: 20px;
  width: 700px;
  /* text-decoration: none;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: auto;
  padding: 5px;
  background-color: rgba(24, 24, 24, 0.629);
  border-radius: 20px;
  transition: transform 0.3s ease;
  overflow-y: auto; */
}
.atag:hover {
  transform: translateY(-5px);
}
.mainTitle {
  color: #f6ff8e;
  font-size: 20px;
  font-weight: 700;
}
.subTitle {
  margin-bottom: 15px;
  margin-top: -5px;
  line-height: 0.4;
  color: #ffffffc5;
  font-size: 13px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.362);
  padding: 12px;
  border-radius: 8px;
}
.body {
  font-size: 10pt;
  font-weight: 400;
  color: rgba(231, 231, 231, 0.742);
  padding: 8px;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.5;
  text-align: center;
}

.image {
  margin-top: 5px;
  margin-bottom: -20px;
}
@media (max-width: 490px) {
  .card,
  .atag {
    margin-left: auto;
    width: 100vw;
    border-radius: 0;
    height: 270px;
  }

  .mainTitle {
    font-size: 18px;
  }

  .subTitle {
    font-size: 12px;
    padding: 10px;
  }

  .body {
    font-size: 8pt;
  }

  .image {
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 0;
  }
}
