.carousel {
  display: flex;
  overflow-x: scroll;
  height: 70vh;
  width: 60%;
  margin: auto;
  align-items: center;
  text-align: center;
}
.card {
  margin-left: 4%;
  padding: 20px;
  background-color: rgba(24, 24, 24, 0.629);
  border-radius: 20px;
  height: 390px;
  min-width: 300px;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  text-decoration: none;
}

.card:hover {
  transform: translateY(-5px);
}

.mainTitle {
  color: #f6ff8e;
  font-size: 20px;
  font-weight: 700;
}
.subTitle {
  margin-bottom: 15px;
  margin-top: -5px;
  line-height: 0.4;
  color: #ffffffc5;
  font-size: 13px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.362);
  padding: 12px;
  border-radius: 8px;
}
.stats {
  margin-bottom: 15px;
  margin-top: -5px;
  line-height: 0.4;
  color: #ffffffc5;
  font-size: 8px;
  font-weight: 200;
  border-radius: 8px;
}
.text {
  font-size: small;
  margin-top: 5px;
  font-weight: 400;
  color: rgba(231, 231, 231, 0.742);
  padding: 2px;
  line-height: 1.5;
  max-width: auto;
}

.image {
  margin-top: 5px;
  margin-bottom: -10px;
}
@media (max-width: 490px) {
  .card {
    margin-left: auto;
    width: 100vw;
    border-radius: 0;
    height: 270px;
  }

  .mainTitle {
    font-size: 18px;
  }

  .subTitle {
    font-size: 12px;
    padding: 10px;
  }

  .body {
    font-size: 8pt;
  }

  .image {
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 0;
  }
}
