.title {
  color: #f6ff8e;
  font-size: large;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 18px;
}
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: rgba(70, 70, 70, 0.3);
  color: white;
  width: 60vw;
  height: 100vh;
  margin-left: 8%;
  margin-bottom: 40px;
  overflow-y: auto;
  overflow-x: visible;
}
.skillsList {
  margin-left: 20px;
  list-style-type: none;
  line-height: 1.3;
  font-size: 10pt;
  font-weight: 400;
  color: rgba(231, 231, 231, 0.819);
}

.listContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: rgba(70, 70, 70, 0.3);
  width: 90%;
  border-radius: 15px;
}

.listContainerOther {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  background-color: rgba(70, 70, 70, 0.3);
  width: 100vw;
  border-radius: 15px;
}
.imageContainer {
  border-radius: 10px;
}

@media (max-width: 490px) {
  .title {
    font-size: medium;
    margin-top: 10px;
  }

  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    overflow-y: scroll;
  }

  .skillsList {
    margin-left: 10px;
    font-size: 8pt;
  }

  .listContainer {
    width: 100%;
    border-radius: 10px;
  }

  .imageContainer {
    border-radius: 8px;
    width: 40%;
    height: 40%;
  }
}
