.container {
  /* padding: 300px; */
  padding-top: 100px;
  align-items: center;
  flex-direction: column;
  display: flex;
  color: white;
  background-color: rgba(70, 70, 70, 0.189);
  margin: 20px;
  width: 60vw;
  height: 80vh;
  max-height: 85vh;
  border-radius: 18px;
}
@media (max-width: 490px) {
  .container {
    margin: auto;
    width: auto;
  }
}
