.container {
  /* padding: 10px;
  padding-top: 10px; */
  align-items: center;
  flex-direction: column;
  display: flex;
  color: white;
  background-color: rgba(199, 199, 199, 0.23);
  margin: 20px;
  width: 60vw;
  height: 100vh;
}
@media (max-width: 490px) {
  .container {
    margin: auto;
    width: auto;
    overflow-y: scroll;
  }
}
